<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File</title>
</head>
<body>
<div class="container">
    <h3>File DETAILS</h3>
    <table class="table table-bordered" border="1">
        <tr>
            <td>title</td>
            <td>{{instance.title}}</td>
        </tr>
        <tr>
            <td>Topic</td>
            <td>{{instance.topic}}</td>
        </tr>
        <tr>
            <td>pdf</td>
            <td><a href="{{instance.pdf.url}}">{{instance.pdf}}</a></td>
        </tr>
        <tr>
            <td>cover</td>
            {% if instance.cover %}
            <td><img src="{{instance.cover.url}}" width="100px"></td>
            {% else %}
                <span class="text-muted">no cover</span>
            {% endif %}
        </tr>
    </table>
</div>
</body>
</html>